@font-face {
    font-family:'GothamPro';
    src: url('../fonts/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.woff2') format('woff2'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype'),
		url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'GothamPro';
    src: url('../fonts/GothamPro-BoldItalic.eot');
	src: url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
		url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
		url('../fonts/GothamPro-BoldItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'GothamPro';
    src: url('../fonts/GothamPro-Italic.eot');
	src: url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Italic.woff2') format('woff2'),
		url('../fonts/GothamPro-Italic.woff') format('woff'),
		url('../fonts/GothamPro-Italic.ttf') format('truetype'),
		url('../fonts/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'GothamPro';
    src: url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.woff2') format('woff2'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype'),
		url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Luga';
    src: url('../fonts/Luga.eot');
	src: url('../fonts/Luga.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Luga.woff2') format('woff2'),
		url('../fonts/Luga.woff') format('woff'),
		url('../fonts/Luga.ttf') format('truetype'),
		url('../fonts/Luga.svg#Luga') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Acrom Light';
    src: url('../fonts/Acrom Light.eot');
	src: url('../fonts/Acrom Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Acrom Light.woff2') format('woff2'),
		url('../fonts/Acrom Light.woff') format('woff'),
		url('../fonts/Acrom Light.ttf') format('truetype'),
		url('../fonts/Acrom Light.svg#Acrom Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}
@font-face {
    font-family:'Gotham Pro Medium';
    src: url('../fonts/GothamPro-Medium.eot');
	src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Medium.woff2') format('woff2'),
		url('../fonts/GothamPro-Medium.woff') format('woff'),
		url('../fonts/GothamPro-Medium.ttf') format('truetype'),
		url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gotham Pro Medium';
    src: url('../fonts/GothamPro-MediumItalic.eot');
	src: url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
		url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
		url('../fonts/GothamPro-MediumItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.eot');
	src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Light.woff2') format('woff2'),
		url('../fonts/GothamPro-Light.woff') format('woff'),
		url('../fonts/GothamPro-Light.ttf') format('truetype'),
		url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}