.about{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 17px;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3px;	
	}
	.about__content{
		padding-bottom: 50px;
		max-width: 1171px;
		width: 100%;
		background-color: white;
		margin-top: 19px;
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		padding-top: 8px;
    	padding-left: 26px;
		padding-right: 8px;
		.about__wrapper__list{
			display: flex;
			
			.about__content__img{
				height: 536px;
				min-width: 389px;
				background-image: url(../img/woom.jpg);
				background-repeat: no-repeat;;
				margin-left: 27px;
				margin-top: 0;
			}
		}
		&__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-left: 5px;
			padding-top:20px;
			padding-bottom: 13px;
		}
		&__text-2{
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 22px;
			padding-left: 8px;
			padding-top: 0;
			letter-spacing: -0.1px;
			padding-right: 15px;
		}
		&__text-3{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-left: 5px;
			padding-top:13px;
			padding-bottom: 13px;
		}
		.about__wrapper__list{
			padding-top: 8px;
			.about__content__list{
				padding-top: 5px;
			}
			li{
				list-style-type: none;
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 22.5px;
			padding-left: 8px;
			padding-top: 0;
			letter-spacing: 0.5px;
			padding-right: 15px;
				
				&:last-child{
					padding-left: 0;
					padding-right: 0;
					.about__brand{
						display: flex;
						align-items: center;
						padding-top: 32px;
						
						&__item{
							background-image: url(../img/03_LuxDress_o_nas.jpg);
							height: 40px;
							width: 130px;
							
							&:nth-of-type(1){
								width: 135px;
							}
							&:nth-of-type(2){
								background-position: -184px 0;
								
								margin-left: 50px;
							}
							&:nth-of-type(3){
								background-position: -315px 0;
								width: 170px;
							}
							&:nth-of-type(4){
								    background-position: -508px 0;
    								width: 182px;
								margin-left: 20px;
							}
						}
					}
				}
				.square-about{
					border: 3px solid  #571431;
					border-radius: 50%;
					display: inline-block;
					width: 5px;
					height: 5px;
					margin-right: 7px;
					
					
				}
				.cursive{
					font-family: 'Gotham Pro Medium';
					font-style: italic;
					font-weight: 500;
				}
				.bold-2{
					font-weight: 700;
					border-bottom: 1px solid #333;
					color: #333;
					cursor: pointer;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width:1200px){
	.about .about__content .about__wrapper__list .about__content__img{
		margin-left: 0;
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand__item:nth-of-type(2){
		margin-left: 10px;
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand{
		flex-wrap: wrap;
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand__item:nth-of-type(4){
		margin-left: 0;
	}
	.about .about__content__text-3{
		line-height: 1;
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand__item:nth-of-type(3){
		background-position: -333px 0;
	}
}
@media screen and (max-width:767px){
	.about{
		margin-top: 86px;
	}
	.about .about__content__text-1,.about .about__content__text-3{
		font-size: 26px;
	}
	.about .about__content .about__wrapper__list{
		display: block;
	}
	.about .about__content{
		padding-left: 8px;
		padding-right: 8px;
	}
	.about .about__content .about__wrapper__list li,.about .about__content__text-2{
		padding-left: 0;
		padding-right: 0;
	}
	.about .catalog-content__navigation{
		padding-left: 0 !important;
	}
}
@media screen and (max-width:385px){
	.about .about__content .about__wrapper__list .about__content__img{
		background-size: contain;
		width: 300px;
		min-width: 1px;
		height: 441px;
		
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand{
		display: block;
	}
	.about .about__content .about__wrapper__list li:last-child .about__brand__item,.about .about__content .about__wrapper__list li:last-child .about__brand__item:nth-of-type(2),.about .about__content .about__wrapper__list li:last-child .about__brand__item:nth-of-type(4){
		margin-left: auto;
		margin-right: auto;
	}
	
}