p,span,a{
	text-shadow: 0 0;
}
.cart-content{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 31px;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__wrapper{
		padding-bottom: 20px;
		max-width: 1171px;
		width: 100%;
		background-color: white;
		margin-top: 19px;
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		padding-top: 13px;
    	padding-left: 29px;
		padding-right: 8px;
		>.item__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 0;
			padding-top: 20px;
			
		}
		>.item__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px;
			padding-bottom: 14px;
			
			
			letter-spacing: -0.07px;
    		line-height: 20px;
			
		}
		.item__text-1-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 0;
			padding-top: 52px;
			clear: both
			
		}
		.item__text-2-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px;
			padding-bottom: 2px;
			
			
			letter-spacing: -0.07px;
    		line-height: 20px;
			
		}
		.item__text-2-3{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			
			padding-bottom: 12px;
			clear: both;
			
			letter-spacing: -0.07px;
    		line-height: 22px;
			    padding-top: 34px;
			
		}
		&__item{
		.item__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 0;
		}
		.item__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px;
			padding-bottom: 14px;
			
			
			letter-spacing: -0.07px;
    		line-height: 22px;
		}
		}
	}
	.slider__line{
		clear: both;
		border-bottom: 1px solid rgba(131, 131, 131, 0.34);;
		margin-right: 3%;
	}
}
.cart-content__wrapper__slider{
	
	.slider__img{
		padding-left: 0;
		padding-right: 0;
		padding-top: 6px;
		width: 440px;
		&__link{
			width: 324px;
			height: 482px;
			padding-left: 0;
			padding-right: 0;
			border-style: solid;
			border-width: 1px;
			border-color:  #b0b0b0;
			box-sizing: border-box;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&__list{
			padding-left: 0;
			padding-right: 0;
			&__link{
				width: 106px;
				height: 159px;
				display: block;
				margin-bottom: 2.5px;
				margin-left: 2.5px;
				border-style: solid;
				border-width: 1px;
				border-color:  #b0b0b0;
				box-sizing: border-box;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.slider__text-picture{
			color:  #838383;
			font-size: 13px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			text-align: left;
			padding-left: 36px;
			padding-top: 10px;
			clear: both;
			img{
				margin-right: 3px;
			}
		}
	}
	.fancybox-placeholder{
		display: block;
	}
	.slider__img__hidden{
		display: none;
	}
	.slider__title{
		
	}
	
	
}
.fancybox-next{
		background: url(../img/arrleft.svg);
	transform: rotate(180deg);
		;width: 65px;
	height: 35px;
	background-size: cover;
	right: -50%;
	margin-right: 32px;
	top: 50%;
	margin-top: -18px;
	&:hover{
		background: url(../img/arrRed.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.fancybox-prev{
	background: url(../img/arrleft.svg);
		width: 65px;
	height: 35px;
	background-size: cover;
	left: -50%;
	margin-left: 32px;
	top: 50%;
	margin-top: -18px;
	&:hover{
		background: url(../img/arrRed.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.fancybox-skin{
	padding: 0 !important;
}
.fancybox-close:after{
	content: '+';
	font-size: 60px;
	color: white;
	transition: 0.3s;
	
}
.fancybox-close:hover::after{
	color: #942653;
	transition: 0.3s;
}
.fancybox-close{
	top: -56px;
    right: -37px;
	transform: rotate(45deg);
	text-decoration: none;
		border: none;
	&:hover{
		text-decoration: none;
		border: none;
		color: #942653;
	}
}
.slider__title{
	max-width: 683px;
	width: 100%;
	padding-right: 0;
	
	.item__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 13px;
		padding-top: 12px;
		}
		.item__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px;
			padding-bottom: 14px;
			
			padding-right: 0;
			letter-spacing: -0.07px;
    		line-height: 19px;
		}
		.item__text-3{
			padding: 0;
			background-color:  #77b34f;
			width: 125px;
			height: 18px;
			color: white;
			font-size: 12.62px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			text-align: center;
		}
	&__list{
		border-bottom:1px solid  rgba(131, 131, 131, 0.34);
		padding-bottom: 25px;
		li{
			height: 38px;
			list-style-type: none;
			background-color:  rgba(232, 232, 232, 0.37);;
			span{
				line-height: 37px;
				color:  #333333;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 500;
				font-family: 'Gotham Pro Medium';
				&:nth-of-type(2){
					text-align: right;
					color:  #333333;
					font-size: 16px;/* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					font-family: 'GothamPro';
				}
			}
			&:nth-of-type(2n){
				background-color: white;
			}
		}
	}
	.slider__title__price{
		padding-left: 0;
		p:first-child{
			color:  #838383;
			font-size: 16.35px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-top: 0;
			padding-bottom: 0;
		}
		p:nth-of-type(2){
			color:  #333333;
			font-size: 32px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			letter-spacing: -1.7px;
		}
	}
	.slider__title__but{
		border-style: solid;
		border-width: 2px;
		border-color:  #813963;
		width: 183px;
		height: 63px;
		color:  #333333;
		border-radius: 30px;
		font-size: 17px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 19px;
		text-align: center;
		padding-top: 19px;
		margin-left: 30px;
		&:hover{
			background-color:  rgba(108, 25, 73, 0.86);
			color: white;
			text-align: center;
			text-decoration: none;
			color: white;
		}
	}
	.slider__title__but2{
		border-style: solid;
		border-width: 2px;
		border-color:  #813963;
		box-sizing: border-box;
		background-color:  rgba(108, 25, 73, 0);
		width: 216px;
		height: 63px;
		border-radius: 30px;
		color:  #333333;
		font-size: 17px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 19px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		padding-top: 0px;
		display: flex;
		margin-left: 12px;
		align-items: center;
		padding-left: 23px;
		padding-right: 0;
		letter-spacing: -0.5px;
		img{
			margin-right: 7px;
		}
		img:nth-of-type(2){
				display: none;
			}
		&:hover{
			background-color:  rgba(108, 25, 73, 0.86);
			color: white;
			text-align: center;
			text-decoration: none;
			color: white;
			img:nth-of-type(2){
				display: block
			}
			img:nth-of-type(1){
				display: none;
			}
		}
	}
	.slider__wrap__price{
		padding-top: 28px;
	}
}
.catalog-content__tabs-2{
	max-width: 1123px;
    margin-left: -10px;
	width: 100%;
	.catalog-content__model{
		padding: 0;
		padding-left: 4px;
		margin-top: 8px;
	}
	.model{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(128, 7, 77, 0);
		width: 267px;
		height: 450px;
		.model__img{
			height: 269px;;
			width: 265px;
			img{
				height: 100%;
				width: 100%;
			}
		}
	}
	.model__text{
		height: 195px;
		padding-left: 14px;
    padding-top: 5px;
		p{
			padding: 0;
		}
		a{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 22px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			border-bottom: 1px solid rgba(0, 0, 0, 0.71);
			text-align: left;
			line-height: 27px;
			&:hover{
				color: #9D125F;
				border-bottom-color: #9D125F;
				text-decoration: none;
			}
		}
		.model__text-1{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			
			padding-top: 5px;
		}
		.model__text-2{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-bottom: 15px;
		}
		.model__text-3{
			color:  #838383;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-top: 6px;
			padding-bottom: 5px;
			span{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 13px;
				
				font-weight: 700;
			}
			display: none;
		}
		.model__text-4{
			color:  rgba(131, 131, 131, 0.34);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-bottom: 7px;
			
		}
		.model__text-5{
			color:  #2a2829;
			font-size: 25px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			letter-spacing: -0.8px;
    
    padding-left: 3px;
			font-family: 'Gotham Pro Medium';
		}
	}
	.model-wrapper{
		margin-top: 8px;
	}
	.nav-tabs>li a{
		margin-top: 29px;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		padding-top: 14px;
		background-color:  rgba(238, 238, 238, 0);
		width: 45px;
		height: 45px;
		text-align: center;
		&:hover{
			background-color:  #740b48;
			color: white;
			
		}
	}
	.nav-tabs>li:nth-of-type(2){
		margin-left: 3px;
	}
	.nav-tabs>li:nth-of-type(1)>a,.nav-tabs>li:last-child>a{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(238, 238, 238, 0);
		width: 113px;
		height: 45px;
		padding: 0;
		text-align: center;
		padding-top: 14px;
		color:  #191919;
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
	}
	.nav.nav-tabs li.active a{
		background-color:  #740b48;
			color: white;
	}
	.nav-tabs{
		border-bottom: none;
		padding-left: 4px;
	}
	.tabs-text{
		color:  #191919;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		float: right;
		line-height: 24px
		;padding-right: 2px;
		margin-top: -34px;
		display: block;
		
	}

	
}
.catalog-content__tabs-3{
	max-width: 1123px;
    margin-left: -10px;
	width: 100%;
	.catalog-content__model{
		padding: 0;
		padding-left: 4px;
		margin-top: 8px;
	}
	.model{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(128, 7, 77, 0);
		width: 267px;
		height: 578px;
		.model__img{
			width: 265px;
			height: 396px;
			img{
				height: 100%;
				width: 100%;
			}
		}
	}
	.model__text{
		height: 195px;
		padding-left: 14px;
    padding-top: 6px;
		p{
			padding: 0;
		}
		a{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 22px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			border-bottom: 1px solid rgba(0, 0, 0, 0.71);
			text-align: left;
			line-height: 27px;
			&:hover{
				color: #9D125F;
				text-decoration: none;
				border-bottom-color: #9D125F;
			}
		}
		.model__text-1{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			
			padding-top: 5px;
		}
		.model__text-2{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
		}
		.model__text-3{
			color:  #838383;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-top: 6px;
			padding-bottom: 5px;
			display: none;
			span{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 13px;
				
				font-weight: 700;
			}
		}
		.model__text-4{
			color:  rgba(131, 131, 131, 0.34);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-bottom: 7px;
			padding-top: 15px;
		}
		.model__text-5{
			color:  #2a2829;
			font-size: 25px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			letter-spacing: -0.5px;
			font-family: 'Gotham Pro Medium';
		}
	}
	.model-wrapper{
		margin-top: 8px;
	}
	.nav-tabs>li a{
		margin-top: 29px;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		padding-top: 14px;
		background-color:  rgba(238, 238, 238, 0);
		width: 45px;
		height: 45px;
		text-align: center;
		&:hover{
			background-color:  #740b48;
			color: white;
			
		}
	}
	.nav-tabs>li:nth-of-type(2){
		margin-left: 3px;
	}
	.nav-tabs>li:nth-of-type(1)>a,.nav-tabs>li:last-child>a{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(238, 238, 238, 0);
		width: 113px;
		height: 45px;
		padding: 0;
		text-align: center;
		padding-top: 14px;
		color:  #191919;
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
	}
	.nav.nav-tabs li.active a{
		background-color:  #740b48;
			color: white;
	}
	.nav-tabs{
		border-bottom: none;
		padding-left: 4px;
	}
	.tabs-text{
		color:  #191919;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		float: right;
		line-height: 24px
		;padding-right: 2px;
		margin-top: -34px;
		display: block;
		
	}

	
}
@media screen and (max-width:1200px){
	.slider__block{
		display: flex;
	}
	.slider__block__inside{
		display: flex;
		
	}
	.slider__title .slider__wrap__price{
		display: flex;
		
	}
	
}
@media screen and (max-width:1140px){
	.catalog-content__tabs-2 .catalog-content__model{
		width: 33%;
	}
	.catalog-content__tabs-3 .catalog-content__model{
		width: 33%;
	}
}
@media screen and (max-width:1050px){
	.slider__title .slider__wrap__price{
		display: block;
		
	}
	.slider__title .slider__title__but{
		margin-left: 0;
		margin-right: 15px;
		
	}
	.slider__title .slider__title__price{
		width: 100%;
	}
	.slider__title .slider__title__but2{
		float: none;
	}
}
@media screen and (max-width: 991px){
	.slider__title .item__text-1,.cart-content__wrapper .item__text-1-2{
		line-height: 28px;
	}
	.slider__block{
		display: block;
	}
	.slider__title{
		max-width: 100%;
		padding-left: 0;
	}
	.slider__title .slider__wrap__price{
		display: flex;
		padding-bottom: 30px;
		
	}
	.slider__title .slider__title__price{
		width: auto;
	}
	.cart-content .slider__line{
		margin-right: 0;
	}
	.slider__block__inside{
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 887px){
	.catalog-content__tabs-2 .catalog-content__model{
		width: 50%;
	}
	.catalog-content__tabs-3 .catalog-content__model{
		width: 50%;
	}
}
@media screen and (max-width: 767px){
	.cart-content{
		margin-top: 84px;
	}
	.cart-content .catalog-content__navigation{
		padding-left: 30px;
	}
	.catalog-content__tabs-2 .catalog-content__model{
		width: 50%;
		float: left;
	}
	.catalog-content__tabs-3 .catalog-content__model{
		width: 50%;
		float: left;
	}
	.catalog-content__tabs-2{
		margin-left: auto;
	}
	.fancybox-prev{
		left: 0;
		margin-left: 0;
		background: url(../img/arrRed.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.fancybox-next{
		right: 0;
		margin-right: 0;
		background: url(../img/arrRed.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.cart-content__wrapper{
		padding-left: 8px;
		padding-right: 8px;
	}
	.cart-content .catalog-content__navigation{
		padding-left: 15px;
	}
	.catalog-content__tabs-2 .catalog-content__model,.catalog-content__tabs-3 .catalog-content__model{
		padding-left: 0;
	}
	.slider__title__list li span{
		padding-left: 8px;
	}
}

@media screen and (max-width: 685px){
	.slider__title .slider__wrap__price{
		flex-wrap: wrap;
	}
	.slider__title .slider__title__price{
		width: 100%;
		
	}
	.slider__title .slider__wrap__price{
		padding-top: 15px;
	}
}
@media screen and (max-width: 600px){
	.catalog-content__tabs-2 .catalog-content__model{
		width: 100%;
		float: none;
	}
	.catalog-content__tabs-3 .catalog-content__model{
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 500px){
	.cart-content__wrapper__item .item__text-1,.slider__title .item__text-1,.cart-content__wrapper > .item__text-1,.cart-content__wrapper .item__text-1-2,.slider__title .slider__title__price p:nth-of-type(2){
		font-size: 26px;
	}
	.cart-content__wrapper__item .item__text-2,.slider__title .item__text-2,.cart-content__wrapper > .item__text-2,.cart-content__wrapper .item__text-2-2,.cart-content__wrapper .item__text-2-3{
		font-size: 12px;
	}
	.cart-content__wrapper{
		padding-left: 8px;
	}
	.catalog-content__tabs-2,.catalog-content__tabs-3{
		margin-left: auto;
	}
	.slider__title__list li span,.slider__title__list li span:nth-of-type(2),.slider__title .slider__title__price p:first-child{
		font-size: 14px;
	}
	.cart-content .catalog-content__navigation{
		padding-left: 8px;
	}
	.slider__title .slider__title__but{
		width: 120px;
    height: 43px;
		padding-top: 10px;
		font-size: 12px;
		padding-left: 0;
		padding-right: 0;
	}
	.slider__title .slider__title__but2{
		width: 150px;
    height: 43px;
		padding-left: 9px;
		font-size: 12px;
		img{
			width: 22px;
			height: 20.5px;
		}
		
	}
	.slider__block__inside{
		flex-wrap: wrap;
		width: 100%;
		
	}
	.cart-content__wrapper__slider .slider__img{
		width: 100%;
	}
	.cart-content__wrapper__slider .slider__img__link{
		margin-left: auto;
		margin-right: auto;
	}
	.cart-content__wrapper__slider .slider__img .slider__text-picture{
		text-align: center;
		padding-left: 0;
	}
	.cart-content__wrapper__slider .slider__img__list{
		display: flex;
		margin-top: 2.5px;
		margin-left: auto;
		margin-right: auto;
		
	}
	.cart-content__wrapper__slider .slider__img__list__link:first-child{
		margin-left: 0;
	}
}
@media screen and (max-width:346px){
	
	.cart-content__wrapper__slider .slider__img__link{
		width: 304px;
		height: 451px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.cart-content__wrapper__slider .slider__img__list{
		width: 304px;
	}
}