.catalog-wrapper header{
	height: 180px;
}
.catalog-content-wrapper{
	max-width: 1194px;
	width: 100%;
}
.catalog-content{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 17px;
	&__navigation{
		&__link{
			color:  #262626;
			font-size: 16px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 24px;/* Приближение из-за подстановки шрифтов */
			&:hover{
				text-decoration: none;
				color:  #262626;
			}
			span:nth-of-type(1){
				border-bottom:1px solid #262626;
				font-size: 16px;
				
			}
			span:nth-of-type(2){
				text-decoration: none;
				display: inline-block;
				width: 7px;
				height: 7px;
				border: 2px solid   rgba(0, 0, 0, 0.71);
				transform: rotate(45deg);
				border-bottom: none;
				border-left: none;
				margin-left: 4px;
				
				position: relative;
				top: -2px;
			}
			&:nth-of-type(2){
				margin-left: 8px;
			}
		}
		&__text{
			color:  #581534;
			font-size: 16px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			margin-left: 8px;
			line-height: 24px
		}
	}
	.catalog-content-wrapper__sidebar{
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		background-color:  #ffffff;
		width: 295px;
		min-height: 907px;
		margin-top: 18px;
		padding-left: 22px;
    	padding-top: 6px;
		min-width: 295px;
			.sidebar__form{
				&__text{
					color:  rgba(0, 0, 0, 0.71);
					font-size: 26px;/* Приближение из-за подстановки шрифтов */
					font-weight: 400;
					padding-bottom: 0;
				}
				&__text-2{
					color:  rgba(0, 0, 0, 0.71);
					font-size: 15px;/* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					padding-top: 9px;
					border-bottom: 1px solid  rgba(131, 131, 131, 0.2);
					
				}
				&__text-3{
					color:  rgba(0, 0, 0, 0.71);
					font-size: 18px;/* Приближение из-за подстановки шрифтов */
					font-weight: 500;
					padding-top: 13px;
					
				}
				   label {
					border-style: solid;
					border-width: 1px;
					border-color:  #b0b0b0;
					box-sizing: border-box;
					background-color:  rgba(128, 7, 77, 0);
					width: 20px;
					height: 20px;
					color:  rgba(0, 0, 0, 0.71);
					font-size: 17px;/* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					display: block;
					position: relative;
					   margin-bottom: 16px;
					   span{
						   padding-left: 28px;
					   }
				}
				   input[type="checkbox"] + span {
					position: absolute;
					left:1px; top: 1px;
					width: 100%;
					height: 100%;
					background: url(../img/tick.png);
					cursor: pointer;
					background-repeat: no-repeat;
				}
				   input[type="checkbox"]:checked + span {
					background-position: 0 -26px; 
				}
				.form__wrapper-label{
					border-bottom: 1px solid  rgba(131, 131, 131, 0.2);
				}
				.form__wrapper-label:nth-of-type(2){
					padding-bottom: 8px;
				}
				
			}
		.text-dress{
					padding-top: 22px;
				}
		.text-dress-2{
			padding-top: 17px;
			padding-bottom: 13px;
		}
		.form__wrapper-label-2{
			border-bottom: 1px solid  rgba(131, 131, 131, 0.2);
			padding-bottom: 18px;
			.sidebar__form__label{
				border-style: solid;
				border-width: 1px;
				border-color:  #b0b0b0;
				box-sizing: border-box;
				background-color:  rgba(128, 7, 77, 0);
				width: 64px;
				height: 38px;
				margin-left: 2px;
				margin-bottom: 4px;
				color:  rgba(0, 0, 0, 0.71);
				font-size: 15px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				display: inline-block;
				input[type="checkbox"] + span {
				background: none;
				padding-left: 0;
				text-align: center;
				padding-top: 8px;
				}
				&:hover{
					border-color:  #740b48;
				}
				input[type="checkbox"]:checked + span {
					top: -1px;
					height: 39px;
					width: 65px;
					left: -1px;
					padding-top: 10px;
					background-color:  #740b48;
					border-color:  #740b48;
					color: white;
				}
			}
		}
	}
	
	.catalog-content-wrapper__item{
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		background-color:  #ffffff;
		max-width: 861px;
		width: 100%;
		min-height: 1627px;
		margin-left: 6px;
		margin-top: 18px;
		padding-top: 8px;
		padding-left: 17px;
		padding-right: 17px;
		.item__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 0;
		}
		.item__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px;
			padding-bottom: 14px;
			border-bottom: 1px solid  rgba(131, 131, 131, 0.34);
			letter-spacing: -0.11px;
					padding-left: 3px;
		}
		form .bold{
			font-weight: 700;
		}
		.placeholder{
			display: none;
		}
		.jq-selectbox__select{
			border-radius: 2px;
			border-style: solid;
			border-width: 1px;
			border-color:  #b0b0b0;
			box-sizing: border-box;
			background-color:  rgba(238, 238, 238, 0);
			width: 278px;
			height: 45px;
			padding-top: 12px;
			padding-left: 12px;
		}
		.jq-selectbox{
			width: 278px;
			height: 45px;
		}
		.jq-selectbox__dropdown{
			border-style: solid;
			border-width: 1px;
			border-color:  #b0b0b0;
			box-sizing: border-box;
			background-color:  rgba(255, 255, 255, 1);
		}
		
		form{
			margin-top: 11px;
			padding-left: 5px;
		}
		.jq-selectbox__select-text{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			letter-spacing: 0.5px;
		}
		

		.jq-selectbox__trigger-arrow {
			position: absolute;
			top: 18px;
			right: 12px;
			width: 0;
			height: 0;
			overflow: hidden;
			border-top: 4px solid #000;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			background: none;
		}
	}
	
}
.slide-form-content{
	height: 60px;
}
.form__wrapper-label__input-1{
	border-style: solid;
border-width: 1px;
border-color:  #b0b0b0;
box-sizing: border-box;
background-color:  rgba(128, 7, 77, 0);
width: 96px;
height: 42px;
	text-align: center;
	color:  rgba(0, 0, 0, 0.71);
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
}
.form__line-input{
	font-size: 40px;
	font-weight: 300;
	font-family:'Gotham Pro Light';
	display: inline-block;margin-bottom: -7px;
	position: relative;
	bottom: -7px;
	margin-right: 17px;
	margin-left: 17px;
}
.ui-widget.ui-widget-content{
	margin-top: 32px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border:none;
	border-radius: 50%;
background-color:  #740b48;
width: 18px;
height: 18px;
}
.ui-widget.ui-widget-content{
	border: none;
	background-color:  #e0e0e0;
width: 241px;
height: 3px;
	
}
.ui-slider-horizontal .ui-slider-range{
	background:  #740b48;
}
.form__wrapper-label-3{

	
}
.form__wrapper-label-3__text{
	color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: right;
	padding-bottom: 0;
	span:first-child{
		float: left;
			color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: right;
	}
	span:last-child{
		text-align: right;
			color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: right;
	}
}
.ui-slider-horizontal .ui-slider-handle{
	    top: -.55em;
}
.form__wrapper-label-3__price{
	font-family:'Gotham Pro Light';
	font-weight: 300;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */

}
.catalog-content .catalog-content-wrapper__item .jq-selectbox__dropdown{
			top: 44px !important;
}
.catalog-content__tabs{
	.catalog-content__model{
		padding: 0;
		padding-left: 4px;
		margin-top: 14px;
	}
	.model{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(128, 7, 77, 0);
		width: 267px;
		.model__img{
			width: 265px;
			height: 396px;
		
		img{
			height: 100%;
			width: 100%;
		}
		}
	}
	.model__text{
		height: auto;
		padding-left: 14px;
    padding-top: 7px;
		p{
			padding: 0;
		}
		a{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 22px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			border-bottom: 1px solid rgba(0, 0, 0, 0.71);
			text-align: left;
			line-height: 25px;
			&:hover{
				color: #9D125F;
				text-decoration: none;
				border-bottom: 1px solid #9D125F;
			}
		}
		.model__text-1{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			
			padding-top: 11px;
		}
		.model__text-2{
			color:  #757575;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
		}
		.model__text-3{
			color:  #838383;
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-top: 6px;
			padding-bottom: 5px;
			span{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 13px;
				
				font-weight: 700;
			}
		}
		.model__text-4{
			color:  rgba(131, 131, 131, 0.34);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-bottom: 7px;
		}
		.model__text-5{
			color:  #2a2829;
			font-size: 25px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			letter-spacing: -0.5px;
			font-family:'Gotham Pro Medium';
			padding-bottom: 16px;
		}
	}
	.model-wrapper{
		margin-top: 8px;
	}
	.nav-tabs>li a{
		margin-top: 29px;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		padding-top: 14px;
		background-color:  rgba(238, 238, 238, 0);
		width: 45px;
		height: 45px;
		color: rgba(0, 0, 0, 0.71);
		text-align: center;
		&:hover{
			background-color:  #740b48;
			color: white;
			
		}
	}
	.nav-tabs>li .nvdot{
		margin-top: 29px;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		padding-top: 14px;
		background-color:  rgba(238, 238, 238, 0);
		width: 45px;
		height: 45px;
		text-align: center;
		display: block;
		cursor: pointer;
		&:hover{
			background-color:  #740b48;
			color: white;
			
		}
	}
	.nav-tabs>li:nth-of-type(2){
		margin-left: 3px;
	}
	.nav-tabs>li:nth-of-type(1)>a,.nav-tabs>li:last-child>a{
		border-style: solid;
		border-width: 1px;
		border-color:  #b0b0b0;
		box-sizing: border-box;
		background-color:  rgba(238, 238, 238, 0);
		width: 113px;
		height: 45px;
		padding: 0;
		text-align: center;
		padding-top: 14px;
		color:  #191919;
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
	}
	.nav.nav-tabs li.active a{
		background-color:  #740b48;
			color: white;
	}
	.nav-tabs{
		border-bottom: none;
		padding-left: 4px;
	}
	.tabs-text{
		color:  #191919;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		float: right;
		line-height: 24px
		;padding-right: 2px;
		margin-top: -34px;
		display: block;
		
	}

	
}
.tabs-text-2{
		color:  rgba(0, 0, 0, 0.71);
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 300;
		line-height: 22px;
	letter-spacing: -0.1px;
	padding-left: 10px;
	}
.fancybox-overlay{
	background: black;
	opacity: 1;
}
@media screen and (max-width:1200px){
	
	.catalog-content__tabs .model{
		margin-left: auto;
		margin-right: auto;
	}
	.catalog-content__tabs .model-wrapper{
		margin-top: 14px;
	}
	.catalog-content__list-model{
		display: flex;
	}
	.catalog-content .catalog-content-wrapper__sidebar{
		max-height: 907px;
	}
	.catalog-content__tabs .catalog-content__model{
		width: 50%;
	}
	.tabs-text-2{
		padding-left: 0;
	}
	.catalog-content .catalog-content-wrapper__item .item__text-2{
		padding-left: 0;
	}
}
@media screen and (max-width:900px){
	.catalog-content__tabs .catalog-content__model{
		width: 100%;
	}
	.catalog-content .catalog-content-wrapper__item .jq-selectbox{
		left: 50%;
		margin-left: -139px;
	}
	.catalog-content__tabs .tabs-text{
		width: 87px;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	
		margin-top: 10px;
	}
	.catalog-content__tabs .catalog-content__model{
		padding-left: 0;
	}
	

}
@media screen and (max-width:767px){
	.catalog-wrapper header{
		height: 100px;
	}
	.catalog-content{
		margin-top: 85px;
	}
	.catalog-content .catalog-content-wrapper__item .item__text-1{
		font-size: 24px;
	}
	.catalog-content .catalog-content-wrapper__item .item__text-2{
		font-size: 12px;
	}
	.tabs-text-2{
		font-size: 12px;
	}
	.catalog-content__tabs .nav-tabs > li a{
		width: 33px;
		height: 33px;
		padding-top: 8px;
		padding-left: 0;
		padding-right: 0;
	}
	.catalog-content__tabs .nav-tabs > li .nvdot{
		width: 33px;
		height: 33px;
		padding-top: 8px;
		padding-left: 0;
		padding-right: 0;
	}
	.catalog-content__tabs .nav-tabs > li:nth-of-type(1) > a, .catalog-content__tabs .nav-tabs > li:last-child > a{
		width: 75px;
    height: 33px;
		font-size: 11px;
		padding-top: 9px;
	}
	.catalog-content .catalog-content-wrapper__sidebar{
		width: 100%;
		min-height: 1px;
		max-height: none;
		height: auto;
	}
	.catalog-content .catalog-content-wrapper__item{
		margin-left: 0;
	}
	.catalog-content__list-model{
		display: block;
	}
	.slide-form-content{
		display: none;
	}
	 .catalog-content__navigation{
		padding-left: 10px !important;
		
	}
	.contact .contact__content .item-1,.contact .contact__content .item-2,.catalog-content .catalog-content-wrapper__sidebar,.catalog-content .catalog-content-wrapper__item{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	.contact .contact__content .item-1__text-1,.faq__content__form .find,.about .about__content__text-1, .about .about__content__text-3{
		padding-left: 0 !important;
	}
	.faq .faq__content .faq__content__element:nth-of-type(8){
		padding-bottom: 20px!important; 
	}
	.catalog-content-wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	
}
@media screen and (max-width:730px){
	.catalog-content .catalog-content-wrapper__item .item__text-1{
		line-height: 33px;
	}
}
@media screen and (max-width:630px){
	.catalog-content__list-model{
	flex-wrap: wrap;	
	}
	.catalog-content .catalog-content-wrapper__item{
		margin-left: 0;
	}
	.catalog-content .catalog-content-wrapper__sidebar{
		width: 100%;
	}
	.catalog-content__tabs .nav-tabs{
		width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	.catalog-content__navigation__link span:nth-of-type(1){
		font-size: 14px;
	}
	.catalog-content__navigation__text{
		font-size: 14px;
	}
	.catalog-content__navigation__link span:nth-of-type(2){
		width: 5px;
		height: 5px;
		top: 0;
	}
	.catalog-content__navigation__text{
		position: relative;
		bottom: -2px;
	}
	.ui-widget.ui-widget-content{
		width: 95%;
		margin-left: 8px;
	}
}
