
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	background: #fff;
}



.dress-content{
	margin-top: 117px;
}
.carousel-indicators li{
	background-color:  #f0f4f9;
	margin-right: 11px;
}
.carousel-indicators{
	bottom: 27px;
}
.carousel-inner>.active ,.carousel-inner>.item{
	background: url(../img/01_LuxDress_main.jpg)
	;height: 657px;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.carousel-indicators .active{
	width: 17px;
	background-image: url(../img/img8.svg);
	height: 17px;
	background-color: rgba(1,1,1,0);
	background-size: cover;
	border: none;
	position: relative;
	top: 2px;
	margin-right: 11px;
}
.glyphicon-chevron-left:before{
	display: none;
}
.glyphicon-chevron-left{
	color: white;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	margin-top: -24px;
	z-index: 1;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	left: 	96%;
}
.carousel-control{
	opacity: 1;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	right: 115%;
	margin-top: -54px;
}
.carousel-control.left .glyphicon-chevron-left:hover polygon,.carousel-control .glyphicon-chevron-right:hover polygon{
	fill:rgba(108, 25, 73, 0.86);
}
.glyphicon-chevron-right:before{
	display: none;
}
.carousel-control .glyphicon-chevron-right svg,.carousel-control .glyphicon-chevron-left svg{
	width: 80px;
	height: 65px;
}
.carousel-inner__item-text{
	position: absolute;
	
	top: 25.4%;
    left: 19.8%;
	p:nth-of-type(1){
		color:  #ffffff;
		font-size: 55px;/* Приближение из-за подстановки шрифтов */
		font-weight: 500;
		letter-spacing: -3px;
		line-height: 58px;
		font-family: 'Gotham Pro Medium';
		font-weight: 400;
		span{
			font-family: 'Times New Roman';
			font-size: 67px;
			font-style: italic;
			letter-spacing: normal;
		}
	}
	p:nth-of-type(2){
		max-width: 465px;
		padding-top: 2px;
		padding-left: 5px;
		width: 100%;
		color:  #ffffff;
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 21px;
	}
	a{
		width: 201px;
		height: 63px;
		background-color:  #7E1D49;
		display: block;
		color: white;
		font-size: 17px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		border-radius: 40px;
		margin-top: 20px;
		text-align: center;
		padding-top: 22px;
		
	}
	a:hover{
		box-shadow: inset 0px 0px 5px rgba(255,255,255,1);
		text-decoration: none;
	}
}
.dress-content__catalog{
	min-height: 800px;
	background-color:  #faf4e9;
	
	.list{
		max-width: 1202px;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.list__text{
		/* Style for "Выбрать пл" */

		color: #000000;
		position: relative;
		font-size: 38px;
		font-weight: 300;
		text-align: center;
		padding-top: 37px;
		&::after{
			content: '';
			display: block;
			position: absolute;
			background-color:  #9fabbb;
			width: 102px;
			height: 2px;
			left: 50%;
			margin-left: -51px;
			bottom: -10px;
		}
		
	}
	.list__item{
		margin-top: 50px;
		padding-left: 0;
		padding-right: 0;
		&:nth-of-type(1){
			
			.list__item__brand{
				padding-top: 36px;
			}
		}
		&:nth-of-type(2){
			
			.list__item__brand{
				padding-top: 20px;
			}
		}
		&:nth-of-type(3){
			
			.list__item__brand{
				padding-top: 11px;
			}
		}
		&:nth-of-type(4){
			.list__item__brand{
				padding-top: 36px;
			
			}
		}
		&__brand{
			background-color:  #ffffff;
			width: 270px;
			height: 110px;
			text-align: center;
			
			&:nth-of-type(1){
				
			}
		}
	}
	.list__link{
		text-align: center;
		padding-top: 44px;
		a{
			font-family: 'Times New Roman';
			color:  #881356;
			font-size: 20px;
			font-style: italic;
			
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid #881356;
			}
		}
	}
}
.shadow-brand{
	transition: 0.4s;
	max-width: 270px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.shadow-brand:hover{
	-webkit-box-shadow: 0px 9px 28px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 9px 28px 0px rgba(0,0,0,0.33);
box-shadow: 0px 9px 28px 0px rgba(0,0,0,0.33);
	transition: 0.4s;
}
.dress-content__rent{
	background-color:  #ffffff;
	max-width: 1200px;
	width: 100%;
	min-height: 622px;
	padding-left: 0;
	padding-right: 0;
	.rent__text-1{
		color: #850e50;
		font-family: "Times New Roman";
		font-size: 24px;
		font-style: italic;
		font-weight: 400;
		line-height: 26px;
		padding-top: 70px;
		padding-bottom: 0;
		text-align: center;
	}
	.rent__text-2{
		color: #000000;
		text-align: center;
		font-size: 38px;
		font-weight: 400;
		line-height: 26px;
		padding-top: 5px;
	}
	.element {
		padding-top: 70px;
		position: relative;
		&:nth-of-type(2) .element__img{
			img{
				margin-top: -9px;
			}
		}
		&:nth-of-type(4) .element__img{
			img{
				margin-top: -5px;
			}
		}
		.element__line{
			position: absolute;
			top: 76px;;
			right: -55px;
		}
		.element__line-2{
			position: absolute;
			top: 168px;;
			right: -55px;
			transform: rotate(180deg);
		}
		.element__text{
			color:  #000000;
			font-size: 16px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 26px;/* Приближение из-за подстановки шрифтов */
			text-align: center;
			padding-top: 15px;
			padding-left: 11px;
    		padding-right: 11px;
		}
	}
	.element .element__img{
		background-image: url(../img/img6.png);
		width: 150px;
		height: 130px;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		
			img{
				margin-top: -13px;
			}
		
		
		
	}
}
.map{

	.map__item{
		height: 255px;
		
		
		&:nth-of-type(1) {
			padding: 0;
			iframe{
			width: 100%;
			height: 100%;
		}
		}
		&:nth-of-type(2){
			background-color:  #faf4e9;
			padding-left: 85px;
			padding-top: 40px;
			.map__item__text1{
				color:  #000000;
				font-size: 22px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				padding-bottom: 0;
			}
			.map__item__text2{
				color:  #850d52;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				padding-top: 10px;
				padding-bottom: 12px;
			}
			.map__item__text3{
				a{
				color:  #000000;
				font-size: 36px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
					text-decoration: none;
				}
			}
			.map__item__text4{
				color:  #000000;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				img{
					margin-right: 10px;
				}
			}
		}
		&:nth-of-type(3){
			background-color:  #faf4e9;
			padding-top: 40px;
			text-align: right;
			padding-right: 146px;
			.map__item__text1{
				color:  #000000;
				font-size: 22px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				padding-bottom: 0;
				position: relative;
				padding-right: 8px;
				
			}
			.map__item__text2{
				color:  #850d52;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				padding-top: 10px;
				padding-bottom: 12px;
				padding-right: 272px;
			}
			.map__item__text3{
				a{
				color:  #000000;
				font-size: 36px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
					text-decoration: none;
				}
			}
			.map__item__text4{
				color:  #000000;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				padding-right: 209px;
				img{
					margin-right: 10px;
				}
			}
		}
		&:nth-of-type(4) {
			padding: 0;
			iframe{
			width: 100%;
			height: 100%;
		}
		}
	}
}
@media screen and (max-width: 1730px) {
	.footer__item-1 .footer-menu{
		margin-left: 20%;
	}
	
	.footer__item-1__social{
		margin-left: 20%;
	}
	.footer__item-1 .info{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1450px) {
	.footer__item-1 .footer-menu{
		margin-left: 0;
	}
	
	.footer__item-1__social{
		margin-left: 0;
	}
	.footer__item-1 .info{
		margin-left: 0;
	}
}
@media screen and (max-width: 1200px) {
	.footer__item-1__social{
		max-width: 600px;
		min-height: 70px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.footer__item-1 .info{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer{
		display: flex;
		flex-direction: column;
		
	}
	.footer__item-1{
		order: 1;
		padding-left: 20px;
		padding-right: 20px;
		
	}
	.header-top .header-top__item-2{
		margin-left: 5%;
		padding-left: 0;
	}
	.header-top .header-top__item-3{
		padding-left: 0;
		
	}
	.dress-content__catalog .list__item{
		width: 25%;
		padding: 0;
		text-align: center;
	}
	.dress-content__catalog .list__item__brand{
		margin-left: auto;
		margin-right: auto;
	}
	.carousel-inner__item-text{
		top: 59px;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
		right: 60%;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
		left: 21%;
	}
	.footer__item-1 .social .social__item-1__img{
		padding-left: 1px;
		min-width: 51px;
	}
	.carousel-inner__item-text p:nth-of-type(1){
		font-size: 40px;
		padding-bottom: 0;
		padding-top: 50px;
	}
	.carousel-inner__item-text p:nth-of-type(1) span{
		font-size: 50px;
	}
	.carousel-inner__item-text p:nth-of-type(2){
		font-size: 13px;
	}
	.carousel-inner__item-text a{
		width: 178px;
    	height: 53px;
		padding-top: 18px;
		font-size: 14px;
		margin-top: 8px;
	}
	.carousel-inner>.active{
		height: 410px;
	}
	.carousel-inner>.item{
		height: 410px;
	}
	.dress-content__catalog .list__item:nth-of-type(2){
		padding-left: 0;
	}
	
	.footer__item-1 .footer-menu__item{
		text-align: center;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(3){
		padding-left: 0;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(7){
		padding-left: 31px;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(2){
		padding-right: 60px;
		
	
	}
	.footer__item-1 .footer-menu__item{
		
	}
	.footer__item-2{
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer__item-2__text,.footer__item-2 form,.footer__item-2__text-2{
		max-width: 550px;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.footer__item-1__social{
		
	}
	.footer__item-1 .social .social__item-1,.footer__item-1 .social .social__item-1:nth-of-type(2){
		padding-right: 0;
		padding-left: 0;
		width: 50%;
	}
	.footer__item-1 .social .social__item-1:nth-of-type(2){
		justify-content: flex-end;
	}
	.footer__item-1__social{
		padding-left: 0;
	}
}
@media screen and (max-width:1140px){
	.dress-content__catalog .list__item{
		width: 33.333333%;
	}
}

@media screen and (max-width: 991px) {
	.header-top .header-top__item-1__text span:first-child{
		font-size: 30px;
	}
	.header-top .header-top__item-1__text span:nth-of-type(2){
		font-size: 12px;
	}
	.map .map__item:nth-of-type(1){
		order: 2
	}
	.dress-content__rent .element .element__text{
		padding-top: 0;
	}
	.map .map__item:nth-of-type(2){
		padding-left: 0;
		text-align: center;
		padding-right: 0;
		order: 1;
	}
	
	.map .map__item:nth-of-type(3){
		order: 3
	}
	.map .map__item:nth-of-type(4){
		order:4
	}
	.map .map__item:nth-of-type(3){
		padding-right: 0;
		padding-left: 0
			;text-align: center;
	}
	.map .map__item:nth-of-type(3) .map__item__text2{
		padding-right: 0;
	}
	.map .map__item:nth-of-type(3) .map__item__text1{
		padding-right: 0;
	}
	.map .map__item:nth-of-type(3) .map__item__text4{
		padding-right: 0;
	}
	.map{
		display: flex;
		flex-direction: column;
	}
	.dress-content__rent{
		padding-bottom: 70px;
	}
	.dress-content__rent .element .element__line,.dress-content__rent .element .element__line-2{
		display: none;
	}
	.footer__item-1 .footer-menu{
		display: flex;
		justify-content: space-around;
	}
	.footer__item-1,.footer__item-2{
		padding-left: 8px;
		padding-right: 8px;
	}
	.footer__item-1 .info{
		max-width: 411px;
	}
	.footer__item-1__social{
		max-width: 100%;
	}
	.footer__item-1 .social .social__item-1:nth-of-type(2) {
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
	}
	.footer__item-1 .social .social__item-1{
		padding-left: 0;
		padding-right: 0;
		display: flex;
		justify-content: center;
	}
	.footer__item-1 .social .social__item-1:nth-of-type(2){
		padding-left: 0;
		display: flex;
		justify-content: center;
	}
	.header-top .header-top__item-2__text{
		font-size: 15px;
	}
	.header-top .header-top__item-2__text a,.header-top .header-top__item-3__text-3{
		font-size: 12px;
	}
	.header-top .header-top__item-3__text-1{
		font-size: 14px;
	}
	.header-top .header-top__item-3__text-2{
		font-size: 17px;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(7){
		padding-left: 0;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(2){
		padding-right: 0;
		
	
	}
	
}
@media screen and (max-width:860px){
	.dress-content__catalog .list__item{
		width: 50%;
	}
}
@media screen and (max-width: 788px) {
	.header-top .header-top__item-2{
		margin-left: 0;
	}
	.header-top__item-1__logo img{
		width: 70px;
		
	}
	.header-top__item-1__logo{
		margin-top: 10px;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
		background-size: cover;;
	}
	.header-top .header-top__item-2__text{
		margin-left: 0;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.navbar-nav{
		display: block;
		margin-right: 0;
		width: 100%;
		margin: 0;
		padding-bottom: 20px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-content{
		padding-left: 0;
	}
	.navbar-default .navbar-nav > li{
		margin-left: 0;
	}
	.navbar-default .navbar-nav > li:nth-of-type(1) > a{
		text-align: center;
	}
	.navbar-toggle ,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background: white;
	}
	.header-top{
		display: none;
	}
	.header-top-mobile{
		display: block;
	}
	.header-top .header-top__item-1__text{
		width: 175px;
		padding-left: 0;
		padding-right: 0;
		margin-top: 0;
	}
	.header-top__item-1{
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-default .navbar-brand{
		display: block;
	}
	header{
		height: 137px;
		background-size:cover;	
	}
	.dress-content{
		margin-top: 45px;
	}
	.header-top__item-2__text a{
		display: block;
		color: white;
		text-decoration: underline;
	}
	.header-top__item-3__text-1,.header-top__item-3__text-2{
		display: block;
	}
	.header-top__item-2__text span{
		line-height: 25px;
	}
	.header-top__item-3__text-1{
		line-height: 22px;
	}
	.header-top__item-3__text-2{
		line-height: 22px;
	}
	.header-top__item-3__text-3{
		color: white;
		text-decoration: underline;
		line-height: 22px;
	}
	.header-top__item-3__list{
		padding-top: 3px;
	}
	.navbar-toggle{
		margin-top: -8px;
		top: -16px;
	}
	.header-top__item-3{
		padding: 0;
		padding-top: 7px;
		a:hover{
			color: white;
		}
		
	}
	.dress-content__catalog .list__item{
		
	}
	.dress-content__catalog .list__text{
		font-size: 26px;
	}
	.carousel-inner__item-text{
		left: 13%;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
		right: 62%;
		display: none;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next svg{
		width: 40px;
		height: 40px;
		display: none;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
		display: none;
	}
	.navbar-default .navbar-nav > li:last-child{
	display: block;
}
.navbar-default .navbar-brand{
	display: block;
}
	.footer__item-1 .footer-menu__item a{
		font-size: 14px;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(3){
		padding-left: 0;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(4){
		padding-left: 0;
	}
	.footer__item-1 .footer-menu__item:nth-of-type(7){
		padding-left: 0;
	}
//	.header-top .header-top__item-2 .header-top__item-2__img{
//		display: none;
//	}
	.footer__item-1__social{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.footer__item-1 .social .social__item-1{
		width: 50%;
	}
	.dress-content__rent .element{
		padding-left: 8px;
		padding-right:8px;
	}
	.dress-content__rent .element .element__text{
		padding-left: 0;
		padding-right: 0;
	}
	.map .map__item:nth-of-type(2) .map__item__text3 a,.map .map__item:nth-of-type(3) .map__item__text3 a{
		line-height: 1;
	}
	
	.map .map__item:nth-of-type(2) .map__item__text3 a, .map .map__item:nth-of-type(3) .map__item__text3 a,.map .map__item:nth-of-type(2) .map__item__text3, .map .map__item:nth-of-type(3) .map__item__text3{
		font-size: 28px;
	}
	.header-top{
		padding-left: 8px;
	}
	.map .map__item:nth-of-type(3),.map .map__item:nth-of-type(2){
		padding-left: 8px;
		padding-right: 8px;
	}
	.navbar-default .navbar-toggle span{
		display: none;
	}
	.navbar-default .navbar-toggle{
		background: none;
		border: none;
		&:hover{
			background: none;
		}
		&:focus{
			background: none;
		}
		&::before{
			content: '+';
			color: white;
			transform: rotate(45deg);
			display: block;
			font-size: 53px;
			padding: 0;
			line-height: 16px;
		}
	}
	.navbar-default .navbar-toggle.collapsed{
		background: white;
		&::before{
			display: none;
		}
		&:hover{
			background: white;
		}
	}
	.navbar-default .navbar-toggle.collapsed span{
		display: block;
	}
}
@media screen and (max-width:600px){
	.carousel-inner__item-text p:nth-of-type(1){
		font-size: 27px;
	}
	.carousel-inner__item-text p:nth-of-type(1) span{
		font-size: 35px;
	}
	.carousel-inner__item-text p:nth-of-type(2){
		font-size: 12px;
	}
	.carousel-inner__item-text{
		left: 0;
		width: 100%;
		padding-left: 68px;
		padding-right: 68px;
	}
	.carousel-inner__item-text p:nth-of-type(2){
		width: 100%;
		max-width: 100%;
	}
	.carousel-control .glyphicon-chevron-right svg{
		width: 120% ;
	}
	.carousel-control .glyphicon-chevron-right{
		right: 45%
			;margin-top: -46px;
	}
	.carousel-control .glyphicon-chevron-left{
		width: 40px;
		height: 40px;
	}
	.carousel-control .glyphicon-chevron-left svg{
		width: 120%;
	}
	.carousel-inner__item-text a {
    width: 149px;
    height: 40px;
    padding-top: 14px;
    font-size: 12px;
    margin-top: 8px;
}
	.carousel-inner > .item{
		min-height: 410px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 13px;
	}
	.dress-content__rent .rent__text-1{
		font-size: 20px;
	}
	.dress-content__rent .rent__text-2{
		font-size: 26px;
	}
	.dress-content__rent .element .element__text{
		font-size: 14px;
	}
	.footer__item-2__text{
		font-size: 14px;
	}
	.footer__item-2__text-2{
		font-size: 30px;
	}
	
	.footer__item-2 form{
		display: flex;
		align-items: center;
	}
	.footer__item-2 form a{
		margin-left: -32px;
	}
	.footer__item-1 .footer-menu{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.footer__item-1 .footer-menu__item{
		flex-grow: 1;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.footer__item-1 .info__text{
		font-size: 13px
	}
	.footer__item-1 .info__text:nth-of-type(2) a{
		font-size: 13px;
	}
	.header-top__item-2{
		padding: 0;
	}
}
@media screen and (max-width:580px){
	.dress-content__catalog .list__item{
		width: 100%;
	}
}
@media screen and (max-width: 480px){
	.header-top__item-2{
		width: 125px;
	}
	.header-top__item-3{
		width: 155px;
	}
	.navbar-default .navbar-nav > li:last-child{
		width: 285px;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
}
@media screen and (max-width: 400px){
	.carousel-inner__item-text p:nth-of-type(1){
		padding-top: 20px;
	}
	.carousel-inner__item-text{
		padding-left: 40px;
		padding-right: 40px;
	}
	.dress-content__catalog .list__item{
		padding-left: 0 !important;
	}
	.map .map__item:nth-of-type(2) .map__item__text1,.map .map__item:nth-of-type(3) .map__item__text1{
		font-size: 18px;
	}
	.map .map__item:nth-of-type(2) .map__item__text2,.map .map__item:nth-of-type(3) .map__item__text2{
		font-size: 14px;
	}
	
	.map .map__item:nth-of-type(2) .map__item__text4,.map .map__item:nth-of-type(3) .map__item__text4{
		font-size: 14px;
	}
	
	
	.footer__item-1 .social .social__item-1__text span:first-child{
		font-size: 14px;
	}
	.footer__item-1 .social .social__item-1__text span:nth-of-type(2){
		font-size: 12px;
	}
	.footer__item-1 .social .social__item-1__img{
		width: 40px;
		height: 40px;
		padding-top: 8px;
		min-width: 40px;
	}
	.footer__item-1 .social .social__item-1__img img{
		width: 20px;
		height: 20px;
	}
	.footer__item-1{
		padding-bottom: 10px;
	}
	
}

@media screen and (max-width:340px){
	.footer__item-1{
		padding-left: 5px;
		padding-right: 5px;
	}
}