.contact{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 0;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3px;	
	}
	.contact__content{
		padding-bottom: 12px;
		max-width: 1171px;
		width: 100%;
		display: flex;
		margin-top: 19px;
		
		box-sizing: border-box;
		padding-top: 0px;
    	padding-left: 2px;
		padding-right: 0;
		.item-1{
			border-width: 1px;
			border-color:  rgba(131, 131, 131, 0.2);
			border-style: solid;
			box-sizing: border-box;
			background-color:  #ffffff;
			width: 295px;
			min-width: 295px;
			padding-left: 11px;
			padding-right: 11px;
			height: 604px;
			&__text-1{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 29px;/* Приближение из-за подстановки шрифтов */
			    padding-top: 25px;
   			 padding-left: 8px;
			font-weight: 400;
				padding-bottom: 29px;
			}
			&__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 24px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			border-top: 1px solid rgba(131, 131, 131, 0.2);
			padding-top: 21px;
    		padding-left: 10px;
				font-family: 'Gotham Pro Medium';;
		}
		&__text-3{
			color:  #333333;
			font-size: 21px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-top: 1px;
			padding-bottom: 0;
			padding-left: 11px;
		}
		&__text-4{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 12px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			padding-top: 6px;
    		padding-left: 11px;
			padding-bottom: 13px;
			font-family: 'Gotham Pro Light';
		}
		&__text-5{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 18px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			line-height: 21px;
			padding-top: 0;
			padding-left: 11px;
			padding-bottom: 0;
			font-family: 'Gotham Pro Medium';;
		}
		&__text-6{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 22px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 19px;
			padding-top: 6px;
    padding-left: 14px;
			padding-bottom: 17px;
		}
			button{
				border-style: solid;
				border-width: 2px;
				border-color:  #813963;
				box-sizing: border-box;
				background-color:  rgba(108, 25, 73, 0);
				width: 246px;
				height: 63px;
				border-radius: 30px;
				margin-left: 11px;
				margin-top: 4px;
				color:  #333333;
				font-size: 17px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 19px;
				transition: 0.5s;
				margin-bottom: 23px;
				&:nth-of-type(2){
					margin-top: 10px;
				}
				&:hover{
					color: white;
					background:  #813963;;
				}
			}
		}
		.item-2{
			border-style: solid;
			border-width: 1px;
			border-color:  #e3d3d3;
			box-sizing: border-box;
			background-color:  #ffffff;
			max-width: 868px;
			width: 100%;
			min-height: 810px;
			margin-left: 5px;
			padding-left: 25px;
			padding-top: 16px;
			letter-spacing: -0.6px;
			padding-right: 21px;
			.selectpicker{
				display: none;
			}
			.btn-group.open .dropdown-toggle,.btn-info{
				box-shadow: none;
				background: none;
				color: rgba(0, 0, 0, 0.71);
				border: none;
			}
			.dropdown-menu{
				padding: 0;
				margin: 0;
				border: 1px solid rgba(131, 131, 131, 0.2);;
				margin-top: -2px;
				cursor: pointer;
			}
			.glyphicon{
				display: none;
			}
			&__text-1{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 29px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
			}
			.pull-left,.dropdown-menu>li>a{
				font-size: 29px;
				color:  rgba(0, 0, 0, 0.71);
				font-family: 'Gotham Pro Medium';;
				letter-spacing: -0.6px;
			}
			.btn{
				padding: 0;
				    padding-bottom: 5px;
			}
			.btn .caret{
				    display: inline-block;
					width: 0;
					height: 0;
					margin-left: 2px;
					vertical-align: middle;
					border-top: 7px dashed;
					margin-top: 19px;
					border-right: 6px solid transparent;
					border-left: 6px solid transparent;
			}
			.dropdown-menu>li>a:focus{
				
			}
			.item-2__map{
				max-width: 818px;
				width: 100%;
				border-style: solid;
				border-width: 1px;
				border-color:  #d2d2d2;
				height: 518px;
				margin-top: 11px;
				iframe{
					width: 100%;
					height: 100%;
				}
			}
			&__text-2{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 22px;/* Приближение из-за подстановки шрифтов */
				text-align: left;
				font-family: 'Gotham Pro Light';
				padding-left: 5px;
				padding-top: 13px;
				letter-spacing: 1px;
				letter-spacing: -0.05px;
				padding-right: 20px;
			}
			
		}
		
	}
}
.contact .contact__content .item-2 .map-size{
	display: none;
}
@media screen and (max-width:1200px){
	.contact .catalog-content__navigation{
		padding-left: 24px;
	}
}
@media screen and (max-width:767px){
	.catalog-content__navigation__text__arrow{
			position: absolute;
			right: 20px;
			display: block;
			border: 1px solid rgba(0, 0, 0, 0.71);
			height: 25px;
			width: 25px;
			top: 20px;
			transform: rotate(45deg);
			border-top: none;
			border-left: none;
			cursor: pointer;
		}
	.contact{
		margin-top: 86px;
		
		
	}
	.contact .contact__content .item-1__text-1{
		position: relative;
	}
	.contact .contact__content{
		flex-wrap: wrap;
	}
	.contact .contact__content .item-1{
		width: 100%;
		margin-left: 10px;
		height: auto;
		margin-right: 10px;
		
	}
	
	.contact .contact__content .item-2{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
	.contact .item-wrapp{
		display: flex;
		border-top: 1px solid rgba(131, 131, 131, 0.2);
		justify-content: space-around;
	}
	.contact .item-1-wrapp-1, .contact .item-1-wrapp-2{
		display: none;
	}
	.contact .contact__content .item-1__text-2{
		border-style: none;
	}
}
@media screen and (max-width:590px){
	.contact .item-wrapp{
		flex-wrap: wrap;
	}
	.contact .contact__content .item-1__text-1{
		font-size: 24px;
		padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 0;
	}
	.contact .catalog-content__navigation__text__arrow{
		top: 10px;
		width: 18px;
		height: 18px;
		right: 8px;
	}
	.contact .contact__content .item-1__text-2{
		font-size: 19px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.contact .contact__content .item-1__text-3{
		font-size: 17px;
	}
	.contact .contact__content .item-1__text-5{
		font-size: 16px;
	}
	.contact .contact__content .item-1__text-6{
		font-size: 18px;
	}
	.contact .contact__content .item-1 button{
		width: 167px;
		height: 45px;
		font-size: 16px;
	}
	.contact .contact__content .item-2__text-1{
		font-size: 24px;
	}
	.contact .contact__content .item-2 .pull-left, .contact .contact__content .item-2 .dropdown-menu > li > a{
		font-size: 24px;
	}
	.contact .contact__content .item-2 .btn .caret{
		margin-top: 15px;
	}
	.contact .contact__content .item-2{
		padding-left: 8px;
		padding-right: 8px;
		height: auto;
		min-height: 1px;
	}
	.contact .contact__content .item-2 .item-2__map{
		height: 300px;
	}
	.contact .contact__content .item-2__text-2{
		padding-left: 0;
		padding-right: 0;
	}
}