.faq{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 17px;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3px;	
	}
	.faq__content{
		padding-bottom: 31px;
		max-width: 1171px;
		width: 100%;
		background-color: white;
		margin-top: 19px;
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		padding-top: 13px;
    	padding-left: 30px;
		padding-right: 8px;
		&__text{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 0;
			letter-spacing: -0.1px;
			line-height: 1;
			padding-top: 7px;
		}
		&__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 22px;
			padding-right: 10px;
			padding-top: 7px;
			font-family:'Gotham Pro Light';
			padding-bottom: 29px;
			
		}
		&__element{
			padding-left: 8px;
			display: flex;
			margin-top: 53px;
			
			&:nth-of-type(2n){
				
			}
			
			&__img{
				border-radius: 32px;
				border-width: 2px;
				border-color:  #571431;
				border-style: solid;
				width: 63px;
				height: 63px;
				min-width: 63px;
				display: block;
				display: flex;
				align-items: center;
				justify-content: space-around;
				text-align: center;
				margin-right: 16px;
				img{
					width: 70%;
					height: 70%;
				}
			}
			&__text-1{
				color:  rgba(0, 0, 0, 0.81);
				font-size: 20px;/* Приближение из-за подстановки шрифтов */
				font-weight: 500;
				padding: 0;
				font-family:'Gotham Pro Medium';
				padding-bottom: 8px;
				line-height: 25px;
				margin-top: -5px;
					;
			}
			&__text-2{
				color:  rgba(0, 0, 0, 0.81);
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 19px;
				padding: 0;
				padding-right: 30px;
			}
			
		}
		.faq__content__element:nth-of-type(1){
				margin-top: 0;
			
				.faq__content__element__img{
					
					img{
						width: 70%;
						height:70%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(2){
			padding-left: 16px;
			margin-top: 0;
				.faq__content__element__img{
					padding-top: 5px;
					img{
						width: 80%;
						height:80%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(3){
			
			clear: both;
				.faq__content__element__img{
					padding-top: 0;
					img{
						width: 59%;
						height:59%;
					}
				}
			}
		.faq__content__element:nth-of-type(4){
				padding-left: 16px;
				.faq__content__element__img{
					
					img{
						width: 60%;
						height:60%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(5){
			margin-top: 46px;
			clear: both;
				.faq__content__element__img{
					
					img{
						width: 45%;
						height:45%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(6){
				padding-left: 16px;
			margin-top: 46px;
				.faq__content__element__img{
					
					img{
						width: 60%;
						height:60%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(7){
			margin-top: 23px;
			clear: both;
				.faq__content__element__img{
					
					img{
						width: 72%;
						height:72%;
						
					}
				}
			}
		.faq__content__element:nth-of-type(8){
				padding-left: 16px;
			margin-top: 23px;
			padding-bottom: 23px;
				.faq__content__element__img{
					padding-top: 5px;
					img{
						width: 80%;
						height:80%;
						
					}
				}
			}
		
	}
}
.faq__content__form{
	clear: both;
	border-top: 1px solid rgba(131, 131, 131, 0.34);;
	max-width: 1104px;
	width: 100%;
	.find{
		padding: 0;
		padding-left: 7px;
		padding-top: 20px;
		&__text-1{
			color:  rgba(0, 0, 0, 0.81);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 35px;
			padding-bottom: 6px;
		}
		&__text-2{
			color:  rgba(0, 0, 0, 0.81);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 20px;
			padding-right: 76px;
			padding-top: 12px;
			
		}
		&__img{
			background-image: url(../img/hey.png);
			background-size:contain;;
			height: 354px;
			width: auto;
			margin-left: 48px;
			background-repeat: no-repeat;
		}
	}
	.question{
		padding-left: 31px;
		padding-top: 20px;
		padding-right: 0;
		&__text-1{
			color:  rgba(0, 0, 0, 0.81);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 35px;
			padding-bottom: 6px;
		}
		&__label{
			display: block;
			color:  rgba(0, 0, 0, 0.81);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 20px;
			padding-top: 7px;
			&::before{
				content: ' ';
				display: inline-block;
				width: 1px;
				height: 4px;
			}
			&:nth-of-type(2){
				padding-top: 14px;
				padding-bottom: 10px;
			}
			input{
				display: block;
				border-style: solid;
				border-width: 1px;
				border-color:  #b0b0b0;
				box-sizing: border-box;
				background-color:  rgba(89, 20, 52, 0);
				max-width: 517px;
				width: 100%;
				height: 47px;
				margin-top: 7px;
				padding-left: 15px;
			}
		}
		&__textarea{
			border-style: solid;
			border-width: 1px;
			border-color:  #b0b0b0;
			box-sizing: border-box;
			background-color:  rgba(89, 20, 52, 0);
			max-width: 517px;
			width: 100%;
			height: 135px;
			resize: none;
			margin-top: 21px;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__btn{
			border:1px solid  rgba(108, 25, 73, 0.86);
			background: none;
			width: 183px;
			color: rgba(108, 25, 73, 1);
			height: 63px;
			font-size: 17px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 19px;/* Приближение из-за подстановки шрифтов */
			text-align: center;
			transition: 0.5s;
			border-radius: 30px;
			margin-top: 22px;
			padding-left: 0;
			padding-right: 0;
			line-height: 58px;
			float: left;
			margin-right: 44px;
			&:hover{
				background: rgba(108, 25, 73, 0.86);
				color: white;
				text-decoration: none;
			}
		}
		&__text-2{
			color:  rgba(0, 0, 0, 0.81);
			font-size: 12px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 18px;
			font-family: 'Gotham Pro Light';
			padding-top: 19px;
		}
	}
}
.wr .fancybox-overlay{
		opacity: 0.8;
	
	
	}
.wr .fancybox-close{
	display: none;
}
.popup-contact{
	background-color:  #ffffff;
	box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.39);
	width: 344px ;
	height: 299px ;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-top: 17px;
	display:none;
	img{
		width: 74px;
		height: 96px;
	}
	
	&__text-1{
		color:  rgba(0, 0, 0, 0.7);
		font-size: 18px;/* Приближение из-за подстановки шрифтов */
		font-weight: 500;
		line-height: 27px;
		font-family: 'Gotham Pro Medium';
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&__text-2{
		color:  rgba(0, 0, 0, 0.7);
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 300;
		line-height: 19px;
		font-family: 'Gotham Pro Light';
		padding-top: 0;
		padding-bottom: 21px;
	}
	button{
		border-width: 2px;
		border-color:  #80074d;
		border-style: solid;
		width: 139px;
		height: 55px;
		border-radius: 30px;
		background: none;
		color:  rgba(0, 0, 0, 0.7);
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 300;
		line-height: 23px;
		transition: 0.5s;
		&:hover{
			color: white;
			background: #80074d;
		}
	}
}
@media screen and (max-width:1100px){
	.faq__content__form .question__btn{
		margin-right: 15px;
	}
}
@media screen and (max-width:1030px){
	.faq__content__form .question__btn{
		margin-right: 15px;
	}
	.faq__content__form .question__text-2{
		clear: both;
	}
}
@media screen and (max-width:850px){
	.faq .faq__content__element{
		padding: 0;
	}
	.faq .faq__content{
		padding-left: 8px;
	}
}
@media screen and (max-width:767px){
	.faq .faq__content__element{
		padding: 0 !important;
		margin-top: 40px !important;
	}
	.faq{
		margin-top: 86px;
	}
	.faq__content__form .find__text-2{
		padding-right: 0;
	}
	.faq .faq__content__element__text-2{
		padding-right: 0;
	}
	.faq .faq__content__text-2{
		padding-right: 0;
	}
}
@media screen and (max-width:600px){
	.faq__content__form .find{
		width: 100%;
	}
	.faq__content__form .question{
		width: 100%;
		padding-left: 0;
	}
	.faq__content__form .question__text-2{
		clear: none;
	}
}
@media screen and (max-width:500px){
	.faq .faq__content__text,.faq__content__form .find__text-1,.faq__content__form .question__text-1{
		font-size: 26px;
	}
	.faq .faq__content__text-2{
		font-size: 12px;
		padding-bottom: 0;
	}
	.faq__content__form .find__text-2{
		font-size: 12px;
		padding-bottom: 0;
	}
	.faq__content__form .question{
		padding-top: 0;
	}
	.faq .faq__content__element__text-1{
		font-size: 18px;
		padding-bottom: 4px;
	}
	.faq .faq__content__element__text-2{
		font-size: 12px;
	}
	.faq .faq__content__element__img{
		width: 45px;
		height: 45px;
		min-width: 45px;
		margin-right: 10px;
	}
	.faq .faq__content__element{
		margin-top: 30px !important;
	}
	.faq__content__form .question__label input{
		height: 37px;
	}
	.faq__content__form .question__textarea{
		height: 120px;
	}
	.faq__content__form .question__btn{
		display: inline-block;
		float: none;
	}
	.faq__content__form .question__text-2{
		font-size: 12px;
		display: inline-block;
	}
	.faq__content__form .question__btn{
		width: 170px;
		height: 55px;
		line-height: 52px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		
		display: block;
	}
	.popup-contact{
		max-width: 340px;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		height: 283px;
	}
	.wr .fancybox-inner{
		height: auto !important;
	}
	
}
@media screen and (max-width:400px){
	.faq .faq__content__element__text-1{
		font-size: 16px;
		padding-bottom: 4px;
	}
}