
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
		
	min-height:  255px;; 
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
}
.footer{
	padding-left: 0;
	padding-right: 0;
	&__item-1{
		min-height:  255px;; 
		background-color:  #1d1117 ;
		padding-left: 4.6%;
		padding-top: 22px;
		a:hover{
			text-decoration: none;
		}
		.footer-menu{
			display: flex;
			flex-wrap: wrap;
			&__item{
				padding-left: 0;
				padding-right: 0;
				list-style-type: none;
				a{
					color:  #ffffff;
					font-size: 16px;/* Приближение из-за подстановки шрифтов */
					font-weight: 400;
					line-height: 34px;
					&:hover{
						text-decoration: underline;
						transition: 0.5s;
					}
				}
				&:nth-of-type(3){
					padding-left: 25px;
				}
				&:nth-of-type(7){
					padding-left: 22px;
				}
				&:nth-of-type(4){
					padding-left: 12px;
				}
			}
		}
		.social{
			.social__item-1{
				padding-left: 4px;
				display: flex;
				align-items: center;
				margin-top: 21px;
				&:nth-of-type(2){
					padding-left: 30px;
				}
			}
			.social__item-1__img{
				padding-left: 10px;
				padding-top: 12px;
				border-width: 2px;
				border-color:  #571431;
				border-style: solid;
				width: 51px;
				height: 51px;
				border-radius: 50%;
			}
			.social__item-1__text span:first-child{
				color:  #ffffff;
				font-size: 16px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				display: block;
			}
			.social__item-1__text span:nth-of-type(2){
				color:  #7b8391;
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				text-align: center;
			}
			.social__item-1__text{
				padding-left: 9px;
				line-height: 20px;
			}
		}
		.info{
			padding-top: 20px;
		}
		.info__text{
			color: #7b8391;
			
			font-size: 15px;
			font-weight: 400;
			display: block;
			line-height: 25px;
			
			&:nth-of-type(2){
				a{
					color: white;
					font-size: 15px;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	&__item-2{
		min-height:  255px;; 
		padding-left: 34px;
		background-color:   #210E16;
		&__text{
			color: #ffffff;

			font-size: 18px;
			font-weight: 400;
			padding-bottom: 0;
			padding-top: 30px;
		}
		&__text-2{
			color: #ffffff;
			font-family: "Times New Roman";
			font-style: italic;
			font-size: 36px;
			font-weight: 400;
		}
		form{
			padding-top: 78px;
			position: relative;
			a{
				margin-left: -45px;
				border: none;
				background-color: rgba(1,1,1,0);
				&:hover{
					opacity: 0.5;
				}
			}
		}
		.footer__item-2__email{
			border: none;
			background: rgba(1,1,1,0);
			max-width: 531px;
			width: 100%;
			border-bottom: 1px solid #5E0231;
			height: 50px;
			color: white;
			font-size: 14px;
			padding-left: 5px;
			&::placeholder{
				color:  #feffff;
				font-size: 13px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				font-family: 'GothamPro'
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}