
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background: url(../img/shadow.png);
	width:100%; height: 273px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
	position: fixed;
	z-index: 122;
}
.navbar-default{
	background:  rgba(92, 14, 50, 0.84);
	min-height: 55px;
	color: white;
	font-size: 14px;
	
	border: none;
	padding-left: 0;
}
.navbar-content{
	padding-left: 7px;
	padding-right: 0;
	max-width: 1270px;
	width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>li:nth-of-type(1)>a{
	padding-left: 0;
	text-align: left;
	
}
.navbar-default .navbar-nav>li:nth-of-type(1){
	padding-left: 0;
	margin-left: 0;
}
.navbar-default .navbar-nav>li>a{
	color: white;
	font-weight: 400;
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
	
}
.navbar-default .navbar-nav>li{
	flex-grow: 1.5;
	padding-left: 0;
	text-align: center;
	margin: 0;
	margin-left: 0;
	
}

.navbar-nav{
	width: 100%;
	display: flex
	;flex-direction: row;
	
	justify-content: space-around;
}

.header-top{
	width: 100%;
	max-width: 1230px;
	margin-bottom: 10px;
	 .header-top__item-1{
		 margin-top: 18px;
		&__text{
			margin-top: 32px;
			line-height: 21px;
			span:first-child{
				font-family: Luga;	
				color:  #ffffff;
				font-size: 44px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				letter-spacing: 1px;
				line-height: 19px;
			}
			span:nth-of-type(2){
				font-family:'Acrom Light';
				color:  #fffefe;
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				
			}
			padding-left: 25px;
			padding-right: 0;
		}
}
	.header-top__item-2{
		padding-left:76px;
		padding-right: 0;
		.header-top__item-2__img{
			border-width: 2px;
			border-color:  #571431;
			border-style: solid;
			width: 51px;
			height: 51px;
			border-radius: 50%;
			padding-left: 14px;
			padding-top: 12px;
		}
		margin-left: 15%;
		display: flex;
		
		padding-top: 34px;
		align-items: center;
		&__text{
			color:  #ffffff;
			font-size: 18px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			margin-left: 11px;
			span{
				display: block;
				line-height: 23px;
				margin-bottom: 5px;
			}
			a{
				
				color:  #ffffff;
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 19px;/* Приближение из-за подстановки шрифтов */
				text-decoration: none;;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.header-top__item-3{
		padding-top: 34px;
		align-items: center;
		color: white;
		display: flex;
		padding-right: 0;
		padding-left: 40px;
		margin-left: 17px;
    	padding-left: 56px;
		&__list{
			margin-left: 14px;
		}
		&__img{
			border-width: 2px;
			border-color:  #571431;
			border-style: solid;
			width: 51px;
			height: 51px;
			border-radius: 50%;
			padding-left: 14px;
			padding-top: 14px;
		}
		&__text-1{
			font-size: 16px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			display: block;
			line-height: 23px;
		}
		&__text-2{
			a{
			font-size: 20px;/* Приближение из-за подстановки шрифтов */
			font-weight: 500;
			display: block;
			line-height: 23px;
				color: white;
				text-decoration: none;
			margin-bottom: 5px;
			}
		}
		&__text-3{
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 19px;/* Приближение из-за подстановки шрифтов */
			text-decoration: none;
			display: block;
			color: white;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.navbar-default .navbar-nav > li:last-child{
	display: none;
}
.navbar-default .navbar-brand{
	display: none;
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: rgba(1,1,1,0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-default .navbar-nav > li > a:hover{
	color: #530D2D;
}
.navbar-default .navbar-nav > li > a{
	text-align: center;
	padding-bottom: 17.5px;
	padding-top: 17.5px;
}

.navbar-default .navbar-nav > li:nth-of-type(1) > a{
	text-align: center;
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
