.reviev{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 17px;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3px;	
	}
	.reviev__content{
		padding-bottom: 50px;
		max-width: 1171px;
		width: 100%;
		background-color: white;
		margin-top: 19px;
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		padding-top: 8px;
    	padding-left: 26px;
		padding-right: 8px;
		&__text-1{
			color:  rgba(0, 0, 0, 0.8);
			font-size: 30px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 24px;
			padding-left: 7px;
			padding-bottom: 18px;
			padding-top: 20px;
		}
		.reviev__content__item{
			display: flex;
			border-style: solid;
			
			border-width: 1px;
			border-color:  #dfdbd5;
			box-sizing: border-box;
			background-color:  #fdfaf4;
			max-width: 1118px;
			width: 100%;
			padding-left: 15px;
    		padding-top: 29px;
			padding-right: 32px;
			margin-left: 0;
			padding-bottom: 22px;
			margin-top: 7px;
			
			&__img{
				margin-right: 39px;
				padding-top: 4px;
			}
			&__text{
				.text__element-1{
					color:  rgba(0, 0, 0, 0.8);
					font-size: 20px;/* Приближение из-за подстановки шрифтов */
					font-weight: 500;
					font-family: 'Gotham Pro Medium';;
					padding-bottom: 10px;
					
					
				}
				.text__element-2{
					font-family: 'Times New Roman';
					color:  rgba(0, 0, 0, 0.8);
					font-size: 17px;
					font-style: italic;
					padding-left: 3px;
					line-height: 22px;
					border-bottom: 1px solid  #dfdbd5;;
					padding-bottom: 10px;
				}
				.text__element-3{
					color:  #2d2d2d;
					font-size: 15px;/* Приближение из-за подстановки шрифтов */
					font-weight: 500;
					line-height: 23px;
					font-family: 'Gotham Pro Medium';;
					padding-left: 4px;
					padding-top: 6px;
				}
				.text__element-4{
					font-weight: 400;
					font-size: 15px;
					font-family:'Gotham Pro Light';
					padding-top: 5px;
					padding-left: 4px;
				}
			}
			
		}
		.reviev-btn{
				color:  #333333;
				font-size: 17px;/* Приближение из-за подстановки шрифтов */
				font-weight: 400;
				line-height: 19px;
				border-style: solid;
				border-width: 2px;
				border-color:  #813963;
				box-sizing: border-box;
				background-color:  rgba(108, 25, 73, 0);
				width: 216px;
				height: 63px;
				border-radius: 30px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			transition: 0.5s;
			margin-top: 30px;
			position: relative;
				&:hover{
					color: white;
					background: #813963;
				}
			
			}
	}
	.reviev__content__wrapper:nth-child(n+6){
				display: none;
			}
}
@media screen and (max-width:1200px){
	.reviev .reviev__content{
		padding-right: 26px;
	}
	.reviev .catalog-content__navigation{
		padding-left: 34px !important;
	}
}
@media screen and (max-width:767px){
	.reviev{
		margin-top: 86px;
		
	}
	.reviev .reviev__content{
		padding-left: 8px;
		padding-right: 8px;
	}
	.reviev .reviev__content__text-1{
		font-size: 26px;
	}
	.reviev .catalog-content__navigation{
		padding-left: 10px !important;
	}
	.reviev .reviev__content .reviev__content__item__text .text__element-1{
		font-size: 18px;
	}
	.reviev .reviev__content .reviev__content__item__text .text__element-2{
		font-size: 15px;
	}
	.reviev .reviev__content .reviev__content__item__text .text__element-3,.reviev .reviev__content .reviev__content__item__text .text__element-4{
		font-size: 14px;
	}
	.reviev .reviev__content .reviev__content__item__img{
		margin-right: 15px;
	}
	.reviev .reviev__content__text-1{
		padding-left: 0;
	}
}
@media screen and (max-width:550px){
	.reviev .reviev__content .reviev__content__item__img img{
		width: 100px;
		height: 100px;
	}
}
@media screen and (max-width:440px){
	.reviev .reviev__content .reviev__content__item{
		padding-left: 3px;
		padding-right: 3px;
	}
	.reviev .reviev__content .reviev__content__item{
		display: block;
		
	}
	
	.reviev .reviev__content .reviev__content__item__img{
		text-align: center;
		padding-bottom: 10px;
	}
	.reviev .reviev__content .reviev__content__item__text .text__element-1{
		text-align: center;
	}
	
}