.condition{
	margin-top: 180px;
	padding-top: 18px;
	background-color:  #faf4e9;
	padding-bottom: 17px;
	.catalog-content__navigation{
		max-width: 1171px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3px;	
	}
	.condition__content{
		padding-bottom: 20px;
		max-width: 1171px;
		width: 100%;
		background-color: white;
		margin-top: 19px;
		border-style: solid;
		border-width: 1px;
		border-color:  #e3d3d3;
		box-sizing: border-box;
		padding-top: 13px;
    	padding-left: 27px;
		padding-right: 8px;
		&__text{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 25px;
			letter-spacing: -0.1px;
			
		}
		&__text-3{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 25px;
			clear: both;
			padding-top: 27px;
			letter-spacing: -0.1px;
			padding-left: 5px;
		}
		&__text-4{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 33px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			padding-bottom: 23px;
			clear: both;
			padding-top: 39px;
			letter-spacing: -0.1px;
			padding-left: 2px;
		}
		&__img{
			width: 240px;
			height: 240px;
			float: left;
			background-image: url(../img/sky.jpg);
			margin-right: 33px;
			margin-left: 2px;
			margin-top: 10px;
		}
		&__text-2{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 22px;
			padding-right: 10px;
			
			font-family:'Gotham Pro Light';
		}
		&__text-5{
			color:  rgba(0, 0, 0, 0.71);
			font-size: 14px;/* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 22px;
			padding-right: 15px;
			padding-top: 18px;
			padding-left: 5px;;
			font-family:'Gotham Pro Light';
			padding-bottom: 23px;
		}
		.condition__content__list{
			padding-left: 2px;
			li{
				list-style-type: none;
				display: flex;
				align-items: center;
				color:  rgba(0, 0, 0, 0.71);
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 22px;
				padding-bottom: 22px;
				letter-spacing: -0.07px;
				&:nth-of-type(2){
					padding-bottom: 17px;
				}
				&:nth-of-type(3){
					padding-bottom: 17px;
				}
				span{
					border-radius: 32px;
					border-width: 2px;
					border-color: #A2125A;
					border-style: solid;
					display: inline-block;
					width: 64px;
					display: block;
					height: 64px;
					color: #A2125A;;
					text-align: center;
					min-width: 64px;
					line-height: 62px;
					font-size: 23px;/* Приближение из-за подстановки шрифтов */
					font-weight: 400
						;margin-right: 17px;
				}
				
			}
		}
		.condition__content__list-2{
			padding-left: 6px;
			li{
				color:  rgba(0, 0, 0, 0.71);
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 22px;
				 font-family:'Gotham Pro Light';
				list-style-type:none;
				display: flex;
				align-items: center;
				
				&::before{
					content: '';
					background-color:  #A2125A;;
					display: block;
					width: 6px;
					height: 6px;
					float: left;
					border-radius: 50%;
					margin-right: 10px;
					min-width: 6px;
				}
				&:first-child{
					&::before{
						display: none;
					}
				}
				
			}
		}
		.condition__content__list-3{
			
			li{
				list-style-type: none;
				display: flex;
				align-items: center;
				color:  rgba(0, 0, 0, 0.71);
				font-size: 14px;/* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 22px;
				padding-bottom: 15px;
				letter-spacing: -0.1px;
				&:nth-of-type(2){
					padding-bottom: 0;
				}
				
				span{
					border-radius: 32px;
					border-width: 2px;
					border-color: #A2125A;
					border-style: solid;
					display: inline-block;
					width: 64px;
					display: block;
					height: 64px;
					color: #A2125A;;
					text-align: center;
					min-width: 64px;
					line-height: 58px;
					font-size: 23px;/* Приближение из-за подстановки шрифтов */
					font-weight: 400
						;margin-right: 21px;
				}
				
			}
		}
	}
	
}
@media screen and (max-width:1200px){
	.condition .condition__content__text-3{
		line-height: 1;
	}
}
@media screen and (max-width:767px){
	.condition{
		margin-top: 86px;
	}
	.condition .condition__content__text-2,.condition .condition__content__text-5{
		padding-right: 0;
	}
	.condition .condition__content{
		padding-left: 8px;
		padding-right: 8px;
	}
	.condition .condition__content__text-3,.condition .condition__content .condition__content__list,.condition .condition__content .condition__content__list-2,.condition .condition__content__text-4,.condition .condition__content__text-2, .condition .condition__content__text-5{
		padding-left: 0;
	}
	
}
@media screen and (max-width:570px){
	.condition .condition__content{
		padding-left: 8px;
	}
	.condition .condition__content__text,.condition .condition__content__text-3,.condition .condition__content__text-4{
		font-size: 26px;
		line-height: 1;
	}
	.condition .condition__content__text-2,.condition .condition__content .condition__content__list li,.condition .condition__content .condition__content__list-2 li,.condition .condition__content .condition__content__list-3 li,.condition .condition__content__text-2, .condition .condition__content__text-5{
		font-size: 12px;
	}
	.condition .condition__content .condition__content__list li span,.condition .condition__content .condition__content__list-3 li span{
		width: 50px;
		height: 50px;
		margin-right: 13px;
		min-width: 50px;
		font-size: 20px;
		line-height: 49px;
		img{
			width: 28px;
			height: 28px;
		}
	}
	.condition .condition__content .condition__content__list li span{
		
	}
	.condition .condition__content__img{
		width: 200px;
		height: 200px;
		background-size: cover;
		margin-right: 13px;
	}
	
}
@media screen and (max-width:420px){
	.condition .condition__content__img{
		width: 130px;
		height: 130px;
		background-size: cover;
		margin-right: 13px;
	}
	.condition .condition__content__text,.condition .condition__content__text-3,.condition .condition__content__text-4{
		font-size: 20px;
		line-height: 1;
	}
}